@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.theme-dark {
  background-color: #f5f7fa;
  color: #000;
}

.theme-light {
  background-color: #000;
  color: #f5f7fa;
}

.navbar-dark {
  background-color: #fff;
  color: #555f7d;
}

.navbar-light {
  background-color: #222;
  color: #fff;
}

.active {
  background-color: #0d99ff;
}

.toggle-icon {
  color: #0d99ff;
}

.toggle-icon.active {
  color: #fff;
}

.theme-dark .toggle-icon {
  color: #999;
}

.theme-light .toggle-icon {
  color: #444;
}

.logo {
  height: 40px;
  width: 40px;
  margin-right: 16px;
}

.mainSide {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#NavBar {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.titleMain {
  margin-top: 20px;
  font-size: 190%;
  font-weight: 900;
}
.titleMain-light {
  color: inherit;
}

.titleMain-dark {
  color: #063151;
}

.check {
  margin-top: 11px;
  margin-left: 90px;
  font-size: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 35px;
  margin-right: 65px;
  margin-bottom: 15px;
}

.switch.light .slider {
  background-color: #555;
}

.switch.dark .slider {
  background-color: #ccc;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.toggle-icon {
  color: #2196f3;
  margin-top: 21px;
  font-size: 130%;
}
.toggle-icon.active {
  color: #fff;
  width: 100%;
  border-radius: 6px;
}
.slider.round {
  border-radius: 6px;
  width: 180px;
  height: 50px;
}
.parent-light {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #222;
  border-radius: 6px;
}

.parent-dark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: inherit;
  border-radius: 6px;

}

#iconSun {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#iconMoon {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconElement {
  font-size: 26px;
  width: 28%;
  margin-top: 32px;
}
.iconElement-light {
  color: #333;
}
.iconElement-dark {
  color: inherit;
}

.toggleText-light {
  font-size: 85%;
  font-weight: 500;
  margin-left: 5px;
  margin-top: 14px;
}

.toggleText-dark {
  font-size: 85%;
  font-weight: 500;
  margin-left: 5px;
  margin-top: 14px;
}
