/* CheckBox */
.checkBox input {
  height: 20px;
  width: 20px;
  border-radius: 23px;
}
.checkbox-wrapper-28 {
  --size: 25px;
  position: relative;

}

.checkbox-wrapper-28 *,
.checkbox-wrapper-28 *:before,
.checkbox-wrapper-28 *:after {
  box-sizing: border-box;
}

.checkbox-wrapper-28 .promoted-input-checkbox {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.checkbox-wrapper-28 input:checked ~ svg {
  height: calc(var(--size) * 0.6);
  -webkit-animation: draw-checkbox-28 ease-in-out 0.2s forwards;
  animation: draw-checkbox-28 ease-in-out 0.2s forwards;
}
.checkbox-wrapper-28 label:active::after {
  background-color: #e6e6e6;
}
.checkbox-wrapper-28 label {
  color: #0080d3;
  line-height: var(--size);
  cursor: pointer;
  position: relative;
}
.checkbox-wrapper-28 label:after {
  content: "";
  height: var(--size);
  width: var(--size);
  margin-left: 9px;
  float: right;
  border: 2px solid #0080d3;
  border-radius: 6px;
  transition: 0.15s all ease-out;
}
.checkbox-wrapper-28 svg {
  stroke: #0080d3;
  stroke-width: 3px;
  height: 0;
  width: calc(var(--size) * 0.6);
  position: absolute;
  right:  calc(var(--size) * 0.21);
  top: calc(var(--size) * 0.2);
  stroke-dasharray: 33;
}

@-webkit-keyframes draw-checkbox-28 {
  0% {
    stroke-dashoffset: 33;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes draw-checkbox-28 {
  0% {
    stroke-dashoffset: 33;
  }
  100% {
    stroke-dashoffset: 0;
  }
}


/* Table */

.tableDiv{
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}
.table {
  border-collapse: collapse;
}
.table th,
.table td {
  border: none;
}

.table th:first-child,
.table td:first-child {
  border-left: none;
}


.table td:last-child {
  border-right: none;
}

.table tr:first-child th,
.table tr:first-child td {
  border-top: none;
}

.table tr:last-child ,
.table tr:last-child td {
  border-bottom: none;
}


#table {
  width: 100%;
  border-collapse: collapse;
}


/* Table Styles */
.table th,
.table td {
  padding: 1%;
  text-align: center;
  border-bottom: 1% solid #ccc;
  border-left: 1% solid #ccc;
  background-color: #fff;
  color: #555;
}

/* Dark Mode Styles */
.table-dark th,
.table-dark td {
  background-color: #222;
  color: #fcf1f1;
  border-bottom: 3px solid #555;
  border-left: 3px solid #555;
}


th {
  font-size: 150%;
}
.fth{
  width: 12%;
}

/* input */
.input {
  background-color: #333;
  border-radius: 6px;
  padding: 4%;
  width: 85%;
  border: none;
  font-size: 120%;
  color: #fff;
}
.input::placeholder{
  color: #c3c3c3;
}
.input-dark {
  background-color: #fff;
  color: #333;
}

.btn {
  display:flex;
  width: 92%;
  padding: 3.5%;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  font-size: 120%;
  background-color: #0e95ef;
  color: #fff;
  border: none;
  margin-top: 15px;
  display: inline-block;
}

.btn:hover{
  cursor: pointer;
  background-color: #0185dd;
  transition: .5s ease;
}

#mainArea{
  display: flex;
  justify-content: start;
  width: 100%;
  height: 100%;
}

#leftSide{
  width: 16%;
  height: 81.6vh;
  margin-right: 2%;
  margin-left:1%;
  margin-top: 1.8%;
  text-align: center;
  border-radius: 5px;
}

#leftSide h2 {
  margin-right: 60%;
}


#rightSide{
  width: 68%;
}
.exampleTitle{
  margin-bottom:1%;
  margin-left:.5%;
}

#rightTop{
  width:53%;
  margin-bottom:1%;
  font-weight: 500;
}
#checkBoxes{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#checkStyle{
  padding: 1%;
  border-radius: 5px;
}



@media screen  and (max-width:1400px){
  #rightTop{
    width:63%;
  }
  table{
    font-size: 98%;
   }
}

@media screen  and (max-width:1200px){
  #rightTop{
    width:70%;
  }
  table{
    font-size:93%;
   }
}

@media screen  and (max-width:1100px){
  #rightTop{
    width:77%;
  }

  table{
    font-size:87%;
   }
  
}

@media only screen and (max-width: 1000px) {

  #rightTop{
    width:80%;
  }
  table{
    font-size: 85%;
   }
}


@media only screen and (max-width:950px) {

  #rightTop{
    width:92%;

  }
  #leftSide{
    height: 83.8vh;
  }
 table{
  font-size: 85%;
 }

}


@media only screen and (max-width:830px) {

  #rightTop{
    width:99%;
  }
  #leftSide{
    height: 83.5vh;
  }
 table{
  font-size: 75%;
 }
 .btn{
  padding: 2%;
 }
 #leftSide h2 {
  margin-right: 55%;
}
}


@media only screen and (max-width:790px) {
  #mainArea{
    flex-direction: column;
  }
  #leftSide{
    width: 97%;
    height: 32vh;
    margin-top: 1.2%;
  }
  .input{
    width: 70%;
    padding: 3%;
  }

  .btn{
    width: 76%;
    padding: 2.8%;
  }
  #leftSide h2 {
    margin-right: 65.5%;
  }
  
 #rightSide{
  width: 96%;
  margin-left: 2%;
 }
}

@media only screen and (max-width:520px) {

  #leftSide{
    width: 97%;
    height: 30vh;
    margin-top: 1%;
  }

  #leftSide h2 {
    margin-right: 60%;
  }
  #rightTop{
    width:99%;
    margin-bottom:1%;
    font-weight: 200;
  }
  
 #rightSide{
  width: 99%;
  margin-left: 1%;
  padding: .3%;
 }
 #checkStyle{
  padding: .3%;

}
}